<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <title>Mashup</title>
  </head>
  <body style="width: 100%; height: 100%; margin: 0px;">
    <div style="height: 40px; width: 100%; background-color: crimson;">
        <div style="padding-top: 10px; margin-left: 20px; font-size: 18px; float: left;">
            <b>MASHUP</b>
        </div>
        <button id="post-button" onclick="displayElementbyId('headers-editor')" style="height: 20px; margin-top: 10px; float: right;  margin-right: 30px; cursor: pointer;">
            <b>POST!</b>
        </button>
        ​<div id="headers-editor" style="visibility: hidden; height: 250px; width: 300px; background-color: floralwhite; border: solid 1px black; position: fixed; top: 50px; right: 30px; z-index: 1;">
            <div style="text-align: center; margin-top: 5px; margin-bottom: 5px;">WRITE HERE YOUR HEADERS</div>
            <textarea id="multiliner" name="multiliner" rows="10" style="width: 90%; height: 170px; margin-right: 5%; margin-left: 5%;">{&#13;&#10; "X-Mashup-Country": "Italia"&#13;&#10;}</textarea>
            <div style="justify-content: center; display: flex; margin-top: 10px;">
                <button style="margin-right: 20px;" onclick="hideElementbyId('headers-editor')">CLOSE</button>
                <button onclick="executePost('multiliner')">SUBMIT</button>
            </div>
        </div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
    </div>
    <div id="info-div" style="margin: 20px; position: fixed; top: 60px; width: 100%;">
        <div style="margin-bottom: 10px; font-size: 14px;">
            <code>EXECUTE THE POST REQUEST AGAINST THE FOODS MICROSERVICE CLICKING THE POST BUTTON</code>
        </div>
    </div>
    <div id="post-request-div" style="margin: 20px; visibility: hidden; position: fixed; top: 60px; width: 100%;">
        <div style="margin-bottom: 10px; font-size: 14px;">
            <b>POST REQUEST HEADERS</b>
        </div>
        <div style="height: 250px; width: 95%; overflow-y: auto; background-color: #f7f7f7;">
            <code>
                <pre id="request" style="padding-left: 10px;">
                </pre>
            </code>
        </div>
    </div>
    <div id="body-response-div" style="margin: 20px; visibility: hidden; position: fixed; top: 380px; width: 100%;">
        <div style="margin-bottom: 10px; font-size: 14px;">
            <b>RESPONSE BODY</b>
        </div>
        <div style="height: 200px; width: 95%; overflow-y: auto; background-color: #f7f7f7;">
            <code>
                <pre id="body" style="padding-left: 10px;">
                </pre>
            </code>
        </div>
    </div>
    <script>

        function displayElementbyId(id) {
            document.getElementById(id).style.visibility='visible';
        }

        function hideElementbyId(id) {
            document.getElementById(id).style.visibility='hidden';
        }

        function executePost(id) {
            let innerTxt = document.getElementById(id).value;
            try {
                let headers = JSON.parse(innerTxt);
                let requestHeaders = document.getElementById('request');
                let responseBody = document.getElementById('body');
                requestHeaders.innerHTML = "";
                hideElementbyId('headers-editor');
                responseBody.innerHTML = "";
                let request_headers = {};
                fetch("/foods", {
                    method: "POST", 
                    body: JSON.stringify({}),
                    headers: headers,
                })
                .then(function(response) {
                    console.log(response.headers);
                    for (var pair of response.headers.entries()) {
                        if (pair[0].toLocaleLowerCase().startsWith("x")) {
                            let key = pair[0]
                            let value = pair[1]
                            request_headers[key] = value
                        }
                    }
                    requestHeaders.innerHTML = JSON.stringify(request_headers, null, 4);
                    hideElementbyId('info-div')
                    displayElementbyId('post-request-div')
                    return response.json().then(function(json) {
                        responseBody.innerHTML = JSON.stringify(json, null, 4);
                        hideElementbyId('info-div');
                        displayElementbyId('body-response-div');
                    });
                })
                .catch((error) => {
                  alert(error);
                });
            } catch(error) {
                alert(error); 
            }
        }
    </script>
  </body>
</html>