<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mashup</title>
  </head>
  <body>
    <div style="position: fixed; top: 0; height: 40px; padding-left: 20px; background-color: crimson;">
        <div style="padding-top: 10px;">
            Mashup
        </div>
    </div>
    <div style="margin: 20px; height: 200px; width: 300px;">
        <code>
            {% for k, v in headers.itervalues() %}
            <div>
              {{k}} : {{v}}
            </div>
            {% endfor %}
        </code>
    </div>
  </body>
</html>

